<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>74319668861-8flbgvtq9867p6flrj5lmmr57h94vcek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74319668861-8flbgvtq9867p6flrj5lmmr57h94vcek</string>
	<key>API_KEY</key>
	<string>AIzaSyC56ICssVfzUvlknZjZpHVxGds6W5hXTb8</string>
	<key>GCM_SENDER_ID</key>
	<string>74319668861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rob8861.DevChat</string>
	<key>PROJECT_ID</key>
	<string>devchat-1f34f</string>
	<key>STORAGE_BUCKET</key>
	<string>devchat-1f34f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:74319668861:ios:38077636df6e34d1</string>
	<key>DATABASE_URL</key>
	<string>https://devchat-1f34f.firebaseio.com</string>
</dict>
</plist>